<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
    	.good{background-color: #0C0;}
    	.moderate{background-color: #FFFF00;}
    	.usg{background-color: #FF9900;}
    	.Unhealthy{background-color: #FF0000;}
    	.veryunhealthy{background-color: 990066;}
    	.hazardous{background-color: 660000;}
    </style>
  </head>
  <body>
  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">mglym</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

 <!--      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About Me</a>
      </li> -->

    </ul>
    <form action="{% url 'home'%}" class="form-inline my-2 my-lg-0", method="POST">
    	{% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Enter station" aria-label="Search", name="stationName">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Lookup</button>
    </form>
  </div>
</nav>
  	<br>
  	<div class='container'>
  	{% block content %}



	{% endblock %}
	</div>

  </body>
</html>

